.jumbotron{
    margin-top: 1vmax;
    background-color: black;
    border-style: solid;
    border-color: red;
    border-radius: 1vmax;
    padding: 2vmax;
    margin-bottom: 1vmax;
   
}
.jumbotron h1{
    color: white;
    font-size: 3vmax;
}

.jumbotron li{
color: rgb(194, 193, 193);
font-size: 2vmax;
margin-left: 2vmax;
margin-top: 1vmax;
}

.jumbotron .buttonContainer{
    text-align: center;
}


.button{
    font-size: 1.5vmax;
    margin-left: 2vmax;
    color: rgb(65, 112, 240);
    display: none;
      border-style: solid;
    border-color: rgb(65, 112, 240);
  
    

}
.button:hover{
    text-decoration: none;
    border-style: solid;
    border-color: rgb(65, 112, 240);
}

.jumbotron:hover .button{
    display: block;
}

.heading2Container{
    display: flex;
    flex-direction: row;
}

.latestBlogs{
    background-color: white;
    padding: 2vmax;
}

.latestBlogs h1{
    font-size: 3vmax;
    text-align: center;
    margin-bottom: 2vmax;
    border-style: double;
    padding: 1vmax;
    
}
.cardTitle{
    font-size: 2.1vmax;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.cardSummary {
    font-size: 1.2vmax;
    max-height: 12vmax;
   overflow: auto;
    
}

.cardFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5vmax;
}

.buttonCard{
    font-size: 1.2vmax;
}

.card{
    max-width: 30vmax;
    max-height: 50vmax;
   
}
.cardDeck{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card img {
    max-height: 15vmax;
    background-color: red;
}

.sliderText{
    font-size: 2vmax;
    border-radius: 2vmax;
    color: white;
    text-shadow: 10px 5px 10px rgb(109, 109, 109);
    background-color: rgba(2, 2, 2, 0.308);
}